/* Box Model Hack */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  :root {
    --white: #ffffff;
    --blue: #00eeff;
    --dark-beige: #fccd94;
    --beige: #fbe7ce;
    --black: #000000;
}

  body {
    margin:0;
    padding: 0;
    line-height: 1.12em;
  }

  header{
    background: var(--dark-beige);
    color: var(--black);
  }

  section{
    background: var(--beige);
    color: var(--black);
    padding: 50px;
    margin: 30px;
  }
  /******************************************
  /* LAYOUT
  /*******************************************/
  
  main{
    background: var(--white);
  }

  header > h1{
    text-align: center;
    margin: 50px;
    padding: 30px;
  }

  .title a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    font-size: 28px;
    font-weight: 800;
    line-height: 20px;
    color: var(--black);
    padding: 30px;
  }

    a + div{
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    margin-left: 5%;
  }