/* Box Model Hack */
* {
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  :root {
    --cursive: cursive;
    --white: #ffffff;
    /*--bg-img: "";*/
    --yellow: #9d811e;
    --light-blue: #3b435f;
    --dark-blue: #070e24;
    --linear-bg-blue: linear-gradient(45deg, #213e79 40%, #030a27 100%);
}

  body {
    margin:0;
    padding: 0;
    line-height: 1.12em;
    max-width: 100%;
    height: 100%;
    background-image: url("/cric cards/assets/cric-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  /******************************************
  /* LAYOUT
  /*******************************************/

  header{
    margin: 2% 3% 1% 3%;
    display: flex;
    justify-content: space-between;
  }

  header > div:nth-child(1) > img{
    width: 900px;
    height: 300px;
    object-fit: contain;
  }

  header > div:nth-child(2) > img{
    width: 300px;
    height: 300px;
    object-fit: contain;
  }

  .titles{
    display: flex;
    justify-content: space-between;
  }

  .titles > h2{
    color: var(--white);
    font-family: var(--cursive);
    font-weight: 500;
    display: inline-block;
    padding: 1% 9%;
  }

  ul{
    list-style: none;
  }

  footer{
    display: block;
    width: 100%;
    height: 5%;
    background: var(--light-blue);
    color: var(--white);
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 10px;
  }
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  
  .container{
    background: var(--dark-blue);
    height: 200px;
    margin: 3% 6%;
    display: flex;
    justify-content: space-between;
  }

  .playImg{
    display: inline;
    max-height: 150px;
    max-width: 150px;
    border-radius: 10px;
    object-fit: contain;
    margin: 20px;
  }

  .left{
    width: 600px;
  }

  .middle{
    background: var(--light-blue);
    padding: 10px;
  }

  .right{
    width: 600px;
  }

  .right > *{
    float: right;
  }


/*it would be better to use em instead of pixels to support zooming in option
 and thus removing the need to write so many properties in media queries*/
  @media screen and (max-width: 1200px){
    
    .titles > h2{
      color: var(--white);
      font-family: var(--cursive);
      font-weight: 500;
      display: inline-block;
      padding: 1% 9%;
      font-size: large;
    }

    
    .container{
      background: var(--dark-blue);
      height: 150px;
      margin: 2% 5%;
      display: flex;
      justify-content: space-between;
    }
  
    .playImg{
      display: inline;
      max-height: 100px;
      max-width: 100px;
      border-radius: 10px;
      object-fit: contain;
      margin: 15px;
    }
  
    .left{
      width: 400px;
    }
  
    .middle{
      background: var(--light-blue);
    }
  
    .right{
      width: 400px;
    }
  
    .right > *{
      float: right;
    }


  }


  @media screen and (max-width: 900px){
    
    .titles > h2{
      color: var(--white);
      font-family: var(--cursive);
      font-weight: 500;
      display: inline-block;
      padding: 1% 9%;
      font-size:small;
    }

    .container{
      background: var(--dark-blue);
      height: 70px;
      margin: 2% 5%;
      display: flex;
      justify-content: space-between;
    }
  
    .playImg{
      display: inline;
      max-height: 50px;
      max-width: 50px;
      border-radius: 10px;
      object-fit: contain;
      margin: 10px;
    }
  
    .left{
      width: 200px;
    }
  
    .middle{
      background: var(--light-blue);
    }
  
    .right{
      width: 200px;
    }
  
    .right > *{
      float: right;
    }


  }

  @media screen and (max-width: 600px){
    
    .titles > h2{
      color: var(--white);
      font-family: var(--cursive);
      font-weight: 500;
      display: inline-block;
      padding: 1% 9%;
      font-size:small;
    }

    .container{
      background: var(--dark-blue);
      height: 60px;
      margin: 2% 5%;
      display: flex;
      justify-content: space-between;
    }
  
    .playImg{
      display: inline;
      max-height: 35px;
      max-width: 35px;
      border-radius: 10px;
      object-fit: contain;
      margin: 10px;
    }
  
    .left{
      width: 180px;
    }
  
    .middle{
      background: var(--light-blue);
    }
  
    .right{
      width: 180px;
    }
  
    .right > *{
      float: right;
    }


  }

  @media screen and (max-width: 480px){
    
    .titles > h2{
      color: var(--white);
      font-family: var(--cursive);
      font-weight: 500;
      display: inline-block;
      padding: 1% 9%;
      font-size:small;
    }

    .container{
      background: var(--dark-blue);
      height: 50px;
      margin: 2% 5%;
      display: flex;
      justify-content: space-between;
    }
  
    .playImg{
      display: inline;
      max-height: 30px;
      max-width: 30px;
      border-radius: 10px;
      object-fit: contain;
      margin: 10px;
    }
  
    .left{
      width: 150px;
    }
  
    .middle{
      background: var(--light-blue);
    }
  
    .right{
      width: 150px;
    }
  
    .right > *{
      float: right;
    }


  }


  @media screen and (max-width: 320px){
    
    .titles > h2{
      color: var(--white);
      font-family: var(--cursive);
      font-weight: 500;
      display: inline-block;
      padding: 1% 9%;
      font-size:small;
    }

    .container{
      background: var(--dark-blue);
      height: 40px;
      margin: 2% 5%;
      display: flex;
      justify-content: space-between;
    }
  
    .playImg{
      display: inline;
      max-height: 25px;
      max-width: 25px;
      border-radius: 10px;
      object-fit: contain;
      margin: 10px;
    }
  
    .left{
      width: 120px;
    }
  
    .middle{
      background: var(--light-blue);
    }
  
    .right{
      width: 120px;
    }
  
    .right > *{
      float: right;
    }


  }

  @media screen and (max-width: 280px){

    header > div > h1, header > div > h2{
      font-size: 22px;
      font-weight: 700;
      color: var(--white);
      font-family: var(--cursive);
      display: inline-block;
    }

    header > div > h2{
      color: var(--yellow);
  
    }
    
    .titles > h2{
      color: var(--white);
      font-family: var(--cursive);
      font-weight: 500;
      display: inline-block;
      padding: 1% 9%;
      font-size:small;
    }

    .container{
      background: var(--dark-blue);
      height: 40px;
      margin: 2% 5%;
      display: flex;
      justify-content: space-between;
    }
  
    .playImg{
      display: inline;
      max-height: 25px;
      max-width: 25px;
      border-radius: 10px;
      object-fit: contain;
      margin: 5px;
    }
  
    .left{
      width: 100px;
    }
  
    .middle{
      background: var(--light-blue);
    }
  
    .right{
      width: 100px;
    }
  
    .right > *{
      float: right;
    }


  }